<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>
  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        ngModel
        required
        email
        #email="ngModel"
      />
      <div class="control-error">
        @if (email.touched && email.invalid) { @if (email.errors?.['required'])
        {
        <small class="control-error">Email is required.</small>
        } @if (email.errors?.['email']) {
        <small class="control-error">Enter a valid email.</small>
        } }
      </div>
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        ngModel
        required
        minlength="8"
        #password="ngModel"
      />
      <div class="control-error">
        @if (password.touched && password.invalid) { @if
        (password.errors?.['required']) {
        <small class="control-error">Password is required.</small>
        } @if (password.errors?.['minlength']) {
        <small class="control-error">
          Password must be at least
          {{ password.errors?.['minlength'].requiredLength }} characters.
        </small>
        } }
      </div>
    </div>

    <button class="button no-margin" type="submit" [disabled]="submitting()">
      {{ submitting() ? "Logging in..." : "Login" }}
    </button>
  </div>

  <div class="server-error">
    @if (form.errors?.['invalidCredentials']) {
    <small class="control-error">Invalid email or password.</small>
    }
  </div>
</form>
